#contact {
    width: 100%;
}

#contactHero {
    min-height: 25vh;
    display: grid;
    padding: 24px;
    background: url(/public/assets/fundo_contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
}

#contactHero h2{
   color: white;
   text-align: left;
}

#contactContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding: 80px 10%;
}

#contactInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: left;
    margin-left: 20px;
}

#contactInfo div{
    margin-bottom: 16px;
}

#contactInfo p {
    line-height: 1.6;
}

#mapSection {
    text-align: center;
}

#social {
    padding: 80px 10%;
    text-align: center;
}

.socialLinks {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.socialLinks a {
    flex-direction: column;
    display: flex;
    text-decoration: none;
    color: var(--purple200);
}

.socialLinks a svg{
    width: auto;
    height: 40px;
}

.socialLinks a:hover svg, .socialLinks a:hover{
    width: auto;
    height: 45px;
    font-weight: bold;
}

@media screen and (max-width: 780px) {

#contactHero {
    min-height: 15vh;
}

#contactHero h2, #social h2{
   font-size: 40px;
}

#contactContent {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#contactInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 16px;
}

#contactInfo h4 {
    font-size: 24px;
}

#contactInfo p {
    font-size: 16px;
    line-height: 1.6;
}

#social {
    padding: 40px 10%;
    text-align: center;
}

#social p {
    font-size: 18px;
}

}