
#contactForm {
    display: grid;
    gap: 10px;
}

#contactForm input,
#contactForm textarea {
    padding: 14px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#contactForm textarea {
    min-height: 150px;
    resize: vertical;
}

#contactForm button {
    justify-self: left;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    width: 15vw;
    background-color: var(--purple200);
    color: white;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: white;
    color: var(--purple200);
    border: 1px solid var(--purple200);
    font-weight: 500;
}

@media screen and (max-width: 780px) {
    #contactForm button {
    width: 50vw;
    height: 5vh;
    justify-self: center;
}
}

