
.navbar {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    z-index: 1000;
}

.navbar img {
    width: auto;
    height: 40px;
}

.navbar ul li {
    display: inline;
    padding: 16px;
    font-size: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(6, 6, 6);
    transition: all 0.1s ease-in;
}

.navbar ul li a:hover {
    font-size: 19px;
    color: var(--purple400);
}

#btnMenu, #menuClose{
    display: none;
}

@media screen and (max-width: 780px){
    #btnMenu{  
    display: block;
    color: "#5b21b6";
    border: none;
    background-color: transparent;
    }

    #btnMenu svg{  
    height: 30px;
    }

    .navMenu{
        display: none;
    }

    .menuOpen{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 50vw;
        height: 100vh;
        right: 0;
        top: 0;
        padding-top: 72px;
    }

    #menuClose{
        display: block;
        position: absolute;
        top: 8px;
        right: 15px;
        height: 30px;
        width: fit-content;
        border: none;
    }
}