#heroEvents{
    height: 25vh;
    justify-content: center;
    align-content: center;
    background: url(/public/assets/fundo_contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#heroEvents h2{
    color: white;
}

.show{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.show img{
    width: 50vw;
}

.showContent{
    padding: 24px;
    align-content: center;
}

#event p{
    font-size: clamp(16px, 1.3vw, 22px);
}

#orchestra img{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

#orchestraContent{
    padding: 24px;
    align-content: center;
    height: 30vh;
}

#orchestraContent h3{
    color: var(--purple);
}

@media screen and (max-width: 780px) {

    #heroEvents{
        height: 15vh;
    }
#heroEvents h2{
    font-size: 40px;
}

.show{
    display: flex;
    flex-direction: column;
}

.show img{
    object-fit: cover;
    width: 100vw;
    height: 40vh;
}

#orchestra img{
    height: 50vh;
}

#orchestraContent{
    height: 50vh;
}

#orchestraContent h3{
    font-size: 40px;
}
}

